In [1]:
import pandas as pd

In [10]:
df = pd.read_csv(r'C:\Users\nahue\Searches\Escritorio\CARRERA HENRY\PPI\Movies\movies_dataset.csv', low_memory=False)

In [4]:
df.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [5]:
df.shape

(45466, 24)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [7]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [11]:
import ast

# Convierto las cadenas de texto en diccionarios con 'ast' ya que en el csv los diccionarios están entre comillas Ej: "{'x':'y', 'z':'f'}"
df['belongs_to_collection'] = df['belongs_to_collection'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

# Reemplazo los valores NaN con diccionarios vacíos
df['belongs_to_collection'] = df['belongs_to_collection'].apply(lambda x: {} if pd.isna(x) else x)

# Desanido los datos de la columna 'belongs_to_collection'
df_desanidado = pd.json_normalize(df['belongs_to_collection'])

# Combino el DataFrame original con el DataFrame desanidado reemplazando la columna 'belongs_to_collection' por las cuatro nuevas columnas (los values del diccionario)
df1 = pd.concat([df, df_desanidado], axis=1).drop('belongs_to_collection', axis=1)

df1.head(3)

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,status,tagline,title,video,vote_average,vote_count,id,name,poster_path,backdrop_path
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,Released,NaN,Toy Story,False,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN,NaN,NaN
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg

In [12]:
df1.shape

(45466, 27)

In [13]:
# Elimino las columnas 'poster_path' y 'backdrop_path'
df2 = df1.drop(columns=['poster_path', 'backdrop_path'])

# Cambio nombre de columnas
df2 = df2.rename(columns={'name': 'movie_name'})

#Luego de desanidar el los diccionarios de la columna 'belong_to_collection' me quedaron dos columnas con el nombre 'id'. Le cambio el valor a solo una.
df2.columns.values[22] = 'id_movie'
# Completo los valores NaN con 0
df2['id_movie'] = df2['id_movie'].fillna(0)
# Convierto el tipo de dato de float a int
df2['id_movie'] = df2['id_movie'].astype(int)

In [14]:
# Verifico el DataFrame resultante
df2.head(2)

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,id_movie,movie_name
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,10194,Toy Story Collection
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,0,NaN

In [21]:
#Elimino columnas:
df2 = df2.drop(['video', 'imdb_id','adult', 'original_title', 'homepage'], axis=1)

In [22]:
df2.shape

(45466, 19)

In [23]:
df2['revenue'].dtype

dtype('float64')

In [24]:
df2['revenue'] = df2['revenue'].fillna(0)

In [25]:
df2['budget'].dtype

dtype('O')

In [26]:
#Al querer pasar la columna de "O" a "float" con .astype me aparece 'ValueError: could not convert string to float: '/ff9qCepilowshEtG2GYWwzt2bs4.jpg''
#Esto se debe a que la columna "O" contiene tanto valores numéricos como strings, por lo que uso el parámetro errors='coerce' con pd.to_numeric() para 
#convertir estos valores a NaN.
df2['budget'] = pd.to_numeric(df2['budget'], errors='coerce')

In [27]:
#Verifico transformación
df2['budget'].dtype

dtype('float64')

In [28]:
#Cambio los valores NaN por 0.
df2['budget'] = df2['budget'].fillna(0)

In [29]:
#Elimino valores nulos de la columna 'release_date'
df2 = df2.dropna(subset=['release_date'])

In [30]:
#Transformo la columna 'release_date' a formato de fecha AAAA-mm-dd
df2['release_date'] = pd.to_datetime(df2['release_date'], format= '%Y-%m-%d', errors='coerce')

In [31]:
#Verifico transformación
df2['release_date'].dtype

dtype('<M8[ns]')

In [32]:
df2['release_year'] = df2['release_date'].dt.year

In [33]:
#Verifico
print(df2[['release_date', 'release_year']])

      release_date  release_year
0       1995-10-30        1995.0
1       1995-12-15        1995.0
2       1995-12-22        1995.0
3       1995-12-22        1995.0
4       1995-02-10        1995.0
...            ...           ...
45460   1991-05-13        1991.0
45462   2011-11-17        2011.0
45463   2003-08-01        2003.0
45464   1917-10-21        1917.0
45465   2017-06-09        2017.0

[45379 rows x 2 columns]

In [35]:
#Creo la columna 'return'
df2['return'] = df2.apply(lambda row: row['revenue'] / row['budget'] if pd.notnull(row['revenue']) and pd.notnull(row['budget']) and row['budget'] != 0 else 0, axis=1)

In [36]:
df2.columns

Index(['budget', 'genres', 'id', 'original_language', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'id_movie', 'movie_name', 'release_year',
       'return'],
      dtype='object')

In [37]:
df2.shape

(45379, 21)

In [40]:
#Tomo las primeras 2000 filas del df transformado para los siguientes pasos, para no tener problemas de memoria
df2_recortado = df2.head(2000)

In [41]:
df2_recortado.to_csv('movies_dataset_transf.csv', index=False)

#### Lo que sigue a continuación es una función para desanidar las columnas genre y spoken_language. Pero como por ahora no necesito desanidarlas y si lo hago el dataset suma casi 100000 filas mas, decido no realizarlo. Lo dejo por las dudas.

In [ ]:
#def unnest_column(df2, column_name, key_column):
    """
    Desanida una columna de listas de diccionarios en filas.
    Args:
    - df2: DataFrame original.
    - column_name: Nombre de la columna que contiene listas de diccionarios.
    - key_column: Nombre base para las claves desanidadas.
    Returns:
    - DataFrame con filas desanidadas.
    """
    # Convierto la columna a listas de diccionarios
    #df2[column_name] = df2[column_name].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) and pd.notnull(x) else [])
    
    # Expando las filas
    #unnested_df = df2.explode(column_name).reset_index(drop=True)
    
    # Separo el diccionario en columnas si no es nulo
    #if unnested_df[column_name].notnull().any():
       # unnested_keys = pd.json_normalize(unnested_df[column_name])
       # unnested_keys.columns = [f"{key_column}_{col}" for col in unnested_keys.columns]
       # unnested_df = pd.concat([unnested_df.drop(columns=[column_name]), unnested_keys], axis=1)
    
   # return unnested_df

In [ ]:
# Desanido cada columna
#movies_genres_unnested = unnest_column(df2.copy(), 'genres', 'genre')
#movies_languages_unnested = unnest_column(df2.copy(), 'spoken_languages', 'language')

In [ ]:
# Desanido y combino
#movies_with_genres = unnest_column(df2.copy(), 'genres', 'genre')
#df3 = unnest_column(movies_with_genres, 'spoken_languages', 'language')


# Chequeo que el DataFrame tenga todas las columnas desanidadas
#df3.head(3)